* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif !important;
}

html body {
    overflow-x: hidden;
}

.navbar {
    z-index: 3 !important;
    /* background-color: rgba(0, 0, 0, 0.735) !important; */
    background-color: transparent !important;
}

.navbar-nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

.navbar-nav a {
    font-size: 1.3rem;
    font-weight: 600;
    /* color: white !important; */
    color: white !important;
}

.navbar-brand {
    width: 20%;
    text-align: right;
    /* color: white; */
    color: white;
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.5s ease;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand:hover {
    /* color: white; */
    color: white;
    letter-spacing: 6px;
}

.leftSide {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    column-gap: 2rem;
    align-items: center;
    margin: 0 auto;
}

.leftSide a {
    opacity: 0.7;
    transition: 0.3s all ease-in;
}

.leftSide a:hover {
    color: white;
    opacity: 1;
    transform: scale(1.02);
}

.background-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
}

.background-slider::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.735); */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.786), rgba(0, 0, 0, 0.786), rgba(0, 0, 0, 0.082), rgba(0, 0, 0, 0.082));
    z-index: 2;
}

@media screen and (max-width:1100px) {
    .navbar-nav {
        width: 100%;
    }
    .leftSide {
        width: 90%;
        justify-content: center;
    }
    .rightSide a {
        width: 100%;
    }
}

@media screen and (max-width:991px) {
    .leftSide {
        flex-direction: column;
    }
}


/* --------------Home------------------------- */

.hero-container {
    color: #fff;
    /* min-height: 100vh; */
    display: flex;
    /* align-items: center; */
    padding: 60px;
}

.hero-content {
    z-index: 6;
    margin-top: 2rem;
    /* max-width: 550px; */
    width: 45%;
    /* background-color: rgba(0, 0, 0, 0.655); */
    padding: 1.5rem 1rem;
    border-radius: 2rem;
    animation: fadeIn 1s ease-in-out;
}

.hero-content h1 {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.hero-content h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.highlight {
    /* color: #cc0000;
    color: white; */
    background-color: rgba(255, 255, 255, 0.53);
    padding: 2px 6px;
    margin-left: 0.2rem;
    border-radius: 4px;
    font-weight: 700;
    color: #cc0000;
    display: inline-block;
    animation: scaleLoop 2s infinite ease-in-out;
}

@keyframes scaleLoop {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.hero-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
}

.feature-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 4px solid #ffC300;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.feature-item:hover {
    transform: translateX(10px);
}

.cta-button {
    /* background-color: #00e0b8; */
    background-color: #FFC300;
    color: white;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}


/* .cta-button:hover {
    background-color: #00c4a3;
    box-shadow: 0 6px 20px rgba(0, 224, 184, 0.5);
} */


/* Fade-in animation */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:850px) {
    .background-slider {
        /* height: auto; */
        /* padding-bottom: 1rem; */
    }
    .hero-container {
        padding: 0;
    }
    .hero-container h1 {
        font-size: 1.7rem;
    }
    .hero-container h2 {
        font-size: 1.5rem;
    }
    .hero-content {
        margin-top: 0;
        width: 100%;
    }
    .highlight span {
        margin-top: 0.2rem;
    }
    .cta-button {
        font-size: 1.2rem;
    }
}


/* --------------------------OverView--------------------------------- */

.overview {
    padding: 4rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    align-items: center;
    column-gap: 7rem;
    row-gap: 2rem;
}

.overview-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ov-head {
    font-size: 2rem;
    width: 100%;
    text-align: left;
    color: #006666;
    font-weight: bold;
    text-transform: uppercase;
}

.oc-content {
    line-height: 2rem;
    font-size: 1.1rem;
}

.oc-left {
    margin: 2rem 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: red;
    font-style: italic;
}

.oc-detail ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.oc-detail li i {
    font-weight: 600;
    font-size: 1.2rem;
}

.oc-list-head {
    color: #008b8b;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
}

.oc-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.oc-list ul li {
    list-style: disc;
    font-size: 1rem;
    text-transform: capitalize;
}

.oc-carousel-container {
    width: 560px;
    height: 560px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.oc-carousel-track {
    display: flex;
    /* width: calc(560px * 5); */
    /* Adjust if number of images changes */
    transition: transform 0.5s ease-in-out;
}

.oc-carousel-track img {
    width: 560px;
    height: 560px;
    object-fit: cover;
    flex-shrink: 0;
}


/* .oc-button { */


/* border: 2px solid black; */


/* border: none;
    padding: 1rem 1.5rem;
    width: 12rem;
    border-radius: 2rem;
    background-color: #008b8b;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
} */

.oc-button {
    display: inline-block;
    background-color: #005b5b;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    width: 12rem;
    text-align: center;
}

@media screen and (max-width:700px) {
    .overview {
        flex-direction: column;
    }
    .ov-head {
        letter-spacing: 0.1rem;
        text-align: center;
        font-size: 1.5rem;
    }
    .oc-carousel-container {
        width: 95%;
    }
    .oc-carousel-track img {
        width: 100%;
    }
    .overview-content {
        width: 90%;
    }
    .oc-button {
        margin: 1rem auto;
    }
}


/* Features */

.feature-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 1rem;
    padding-bottom: 4rem;
}

.fc-head {
    width: 100%;
    text-align: center;
    color: #008b8b;
    font-weight: 700;
    word-spacing: 0.5rem;
    font-size: 3rem;
}

.fc-subHead {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-style: italic;
}

.fc-body {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3rem;
}

.fc {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    border-radius: 0px !important;
}

.card img {
    border-radius: 0px !important;
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    transform: scale(1.3);
    transition: 0.5s all ease-in-out;
}

.card img:hover {
    transform: scale(1);
}

.card-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 0 !important;
}

.fcr-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.fcr-feature {
    display: flex;
    align-items: center;
}

.fcr-feature-icon {
    margin-right: 10px;
    font-size: 20px;
}

.fcr-feature-text {
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width:950px) {
    .fc-body {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        row-gap: 3rem;
        margin-top: 2rem;
    }
    .fcr-features {
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        width: 110px;
    }
}

.fc-book {
    color: red;
    width: 100%;
    /* text-align: center; */
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    word-spacing: 0.3rem;
}

.fc-book button {
    border: none;
    background-color: white;
    font-size: 1rem;
    box-shadow: 0 0 2px 2px #008b8b;
    color: #008b8b;
    font-weight: 700;
    width: 10rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin: 0 auto;
    transition: 0.5s all ease;
}

.fc-book button:hover {
    background-color: #008b8b;
    color: white;
}

@media screen and (max-width:350px) {
    .grid-container {
        gap: 0;
    }
}


/* --------------------------Footer---------------------------- */

.fcr-footer {
    background-color: #2c2f36;
    color: white;
    padding: 40px 20px 20px;
}

.fcr-footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.fcr-footer-column {
    flex: 1 1 100px;
    min-width: 200px;
}

.fcr-footer-logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.fcr-footer-logo span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-top: -8px;
}

.fcr-footer-text {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 10px;
}

.fcr-footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: serif;
}

.fcr-footer-link,
.fcr-footer-contact {
    font-size: 14px;
    color: #dcdcdc;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
}

.fcr-footer-contact i {
    margin-right: 8px;
}

.fcr-footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #ccc;
    border-top: 1px solid #444;
    padding-top: 15px;
}

@media (max-width: 768px) {
    .fcr-footer-container {
        flex-direction: column;
        /* gap: 30px; */
    }
}

.gallry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
    gap: 2rem;
}

.g-heading {
    font-size: 3rem;
    color: #008b8b;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.g-body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.g-card {
    width: 250px;
    cursor: pointer;
    border-radius: 1rem;
    background-size: cover;
    overflow: hidden;
}

.g-card img {
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    display: block;
    transition: 0.5s all ease;
}

.g-book-card {
    position: relative;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/f1.jpg');
    padding: 0.5rem 0.1rem;
}

.g-book-card::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.694);
    z-index: 2;
}

.g-book-card p {
    z-index: 3;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
}

.g-card img:hover {
    transform: scale(1.2);
}

.g-book-card button {
    border: none;
    background-color: white;
    color: red;
    z-index: 3;
    padding: 0.7rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    font-weight: 800;
}

@media screen and (max-width:1250px) {
    /* .g-body {
        grid-template-columns: repeat(2, 1fr);
    } */
    .g-card {
        width: 180px;
    }
}

@media screen and (max-width:991px) {
    /* .g-body {
        grid-template-columns: repeat(2, 1fr);
    } */
    .g-card {
        width: 120px;
    }
}

@media screen and (max-width:620px) {
    .g-body {
        grid-template-columns: repeat(2, 1fr);
    }
    .g-card {
        width: 150px;
    }
}


/* ---------Location-------------- */

.location {
    width: 100%;
    padding: 4rem 1rem;
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: flex-start;
}

.loc-left {
    width: 50%;
}

.loc-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.loc-right {
    width: 50%;
}

.loc-right iframe {
    height: 600px;
    width: 100%;
}

.loc-heading {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
    color: #008b8b;
    font-weight: 700;
}

.loc-left img {
    width: 100%;
}

@media screen and (max-width:991px) {
    .loc-right {
        width: 100%;
    }
    .loc-right iframe {
        height: 420px;
    }
    .loc-left {
        width: 100%;
    }
    .location {
        flex-direction: column;
    }
    .loc-heading {
        font-size: 2rem;
    }
}


/* POP UP  */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.838);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-content {
    display: flex;
    background: white;
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.popup-image {
    width: 50%;
}

.popup-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.popup-form-area {
    padding: 30px;
    flex: 1;
}

.popup-form-area h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    color: #333;
}

.popup-form-area input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

.popup-form-area button {
    width: 100%;
    padding: 12px;
    background-color: #008b8b;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .popup-form-area h2 {
        font-size: 1.1rem;
        color: red;
    }
    .popup-content {
        flex-direction: column;
        width: 90%;
        height: 580px;
    }
    .popup-image,
    .popup-form-area {
        width: 100%;
    }
    .popup-image img {
        height: 200px;
        width: 100%;
    }
    .popup-form-area {
        padding: 10px 20px;
    }
}